body {
  font-family: "Lucida Sans Unicode";
  width: 60%;
  align-self: center;
  text-align: justify;
  background-color: grey;
}
img{
    margin-top: 2%;
    margin-left: 15%;
}
.container {
  margin-left:30%;
  background-color: white;
  border-radius: 20px;
  width: 100%;
}

h1 {
  text-align: center;
  letter-spacing: 0.25em;
  word-spacing: 0.4em;
  width: 100%;
}

.t1 {
  color: mediumseagreen;
  text-align: center;
}
.t2 {
  color: darkorange;
}
ul {
  text-align: left;
}

.selector {
  padding-left: 5%;
  float: left;
  width: 100px;
}
.texto {
  background-image: linear-gradient(lightgray, white,lightgray);
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 23%;
  width: 65%;
  border: 1px solid black;
}
h2 {
  color: olivedrab;
  border-bottom: 1px solid black;
}
h3 {
  color: orange;
}

li {
  margin-bottom: 10%;
  border: 2px solid lightgray;
}
li.boton {
  background-image: linear-gradient(white, lightgreen);
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
}
li.botonprincipal {
  background-image: linear-gradient(white, orange);

  padding: 10px 20px;
  width: 100%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
}

li:hover {
  background-color: greenyellow;
}

.desc{
  color: lightgray;
  text-align: center;
}
